<article class="container">
  <button (click)="toggleSidebar()" class="toggle-sidebar-button">
    {{ isSidebarOpen ? 'Ocultar' : 'Mostrar' }}
  </button>
  <mat-card class="sidebar" *ngIf="isSidebarOpen">
    <h3>Info</h3>
    <p>Alto: 3</p>
    <p>Ancho: 3</p>
    <p>Color: #D68910</p>
    <p>Fondo: #922B21</p>
  </mat-card>
  <mat-card class="outer-card">
    <mat-grid-list cols="3" rowHeight="200px" class="grid-list" gutterSize="16px">
      <mat-grid-tile class="grid-tile special-tile">
        <span class="arrow up" (click)="moveTile('up')">↑</span>
        <span class="arrow down" (click)="moveTile('down')">↓</span>
        <span class="arrow left" (click)="moveTile('left')">←</span>
        <span class="arrow right" (click)="moveTile('right')">→</span>
      </mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
      <mat-grid-tile class="grid-tile" (click)="openDialog('#BDC3C7')"></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</article>